<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <exe_apps max_parallel="1">
    <app name="Mandai" path="C:\dev_kayakawa\Kaya011_Mandai_CsvToDb\App1_Mandai_CsvToDb\bin\Release\App1_Mandai_CsvToDb.exe" />
    <app name="Yoshizuya" path="C:\dev_kayakawa\Kaya013_Yoshizuya_CsvToDb\App1_Yoshizuya_CsvToDb\bin\Release\App1_Yoshizuya_CsvToDb.exe" />
  </exe_apps>
</configuration>
